@charset "UTF-8";
/*------------------------------------------------------------------
[Indhold]

1. SCSS variants
2. Body / #body
3. Header/navigation / #navigation
4. Content / #content
5. Footer / #footer
6. Side 2
7. Side 3
8. Side 4
9. Desktop/ #desktop

-------------------------------------------------------------------*/
/*SCSS Variants*/
/*Body*/
* {
  box-sizing: border-box;
  margin: 0;
  background-color: #BEBEBE;
}

/*Navigation*/
.topnav {
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  background-color: transparent;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.navi {
  background-color: #B2B2B2;
  margin-top: 114px;
  font-family: orelega one;
  display: flex;
  justify-content: flex-end;
}

/* Style hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 42px;
  background-color: transparent;
}

.fa-solid {
  background-color: transparent;
}

/*Content*/
.logo {
  width: 100px;
  height: 100px;
  background-color: transparent;
}

.background {
  background-image: url(img/header1.jpg);
  background-size: cover;
  height: 90vh;
  position: relative;
}

h1 {
  background-color: transparent;
  font-family: orelega one;
  font-size: 64px;
}

h2 {
  font-family: orelega one;
  font-size: 20px;
  background-color: transparent;
}

h3 {
  font-family: orelega one;
  font-size: 40px;
  background-color: transparent;
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: transparent;
  margin-top: 0.5em;
}

a {
  background-color: transparent;
}

li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: transparent;
  margin-top: 0.5em;
}

ul {
  background-color: transparent;
}

b {
  background-color: #9F9F9F;
}

.hero {
  background-color: transparent;
  color: white;
  padding: 20px;
}

.hero p {
  margin-bottom: 40px;
}

.herolink {
  font-family: orelega one;
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: #F58E20;
  color: black;
  width: 200px;
  padding: 5px;
  font-size: 25px;
  border-radius: 20px;
  border: 2px solid black;
}

.linkzone {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.videospot {
  padding: 20px;
}

article {
  color: black;
  background-color: #9F9F9F;
  padding: 1.5em;
  margin: 1.5em;
}

/*Footer*/
footer {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url(img/header1.jpg);
  background-size: cover;
  padding: 20px;
}

.kontaktinfo {
  background-color: transparent;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.kontaktinfo p {
  color: white;
}

.footerlogo {
  background-color: transparent;
  width: 150px;
  height: 150px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 4;
}

.somelogo {
  display: flex;
  align-items: center;
  background-color: transparent;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.somelogo img {
  background-color: transparent;
}

.somelogo a {
  background-color: transparent;
}

/*Kode til proces-siden*/
.background_proces {
  background-image: url(img/header1.jpg);
  background-size: cover;
  height: 50vh;
  position: relative;
}

.main_content {
  display: flex;
}

.pynt {
  background-color: black;
  width: 4px;
  max-height: 100%;
  padding: 0.2em;
  margin: 7em 0em 5em 1em;
}

.marker {
  background-color: black;
  width: 1.5em;
  height: 1.5em;
  margin-left: -3.95em;
  margin-top: 3em;
  border-radius: 2em;
  position: absolute;
}

.intro {
  padding: 1em;
}

.cat {
  width: 13em;
  transform: scaleX(-1);
  margin-left: -2em;
  margin-bottom: -4em;
  background-color: transparent;
}

.cat_space {
  display: flex;
  background-color: transparent;
  padding: 1em;
}

/*Kode til Skills*/
.article_img {
  width: 100%;
}

.bento_skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*Kode til kontakt*/
/*formular*/
form {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 1em;
}

input[type=text], input[type=email], input[type=tel], select, textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input[type=submit] {
  background-color: #F58E20;
  color: white;
  padding: 0.8em 1.5em;
  border: 2px solid black;
  border-radius: 40px;
  width: 200px;
  margin-top: 1em;
  font-size: 25px;
  cursor: pointer;
  font-family: orelega one;
}

input[type=submit]:hover {
  background-color: #C16010;
  transition: 0.5s;
}

input[type=checkbox] {
  margin: 0.8em 0;
  cursor: pointer;
}

.checkbox { /*margin på fieldset med class checkbox*/
  margin: 0.8em 0;
}

input[type=radio] {
  cursor: pointer;
}

fieldset {
  border-color: white;
  border-style: hidden;
}

::-moz-placeholder {
  color: #333;
}

::placeholder {
  color: #333;
}

.kontaktform {
  border-radius: 5px;
  background-color: #c5c5c5;
  padding: 1.3em;
  width: 50%;
  margin: 0 auto;
}

form {
  width: 80%;
  border: 1px solid white;
  border-radius: 20px;
  margin: 1em;
}

.formcontainer {
  display: flex;
  justify-content: center;
}

.knapcontainer {
  display: flex;
  justify-content: center;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.overskrift {
  padding: 1em;
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

/*desktop kode*/
@media only screen and (min-width: 500px) {
  main {
    width: 100% !important;
  }
  body {
    margin: 0;
  }
  header {
    margin-bottom: 0;
  }
  .videospot {
    padding-right: 20%;
    padding-left: 20%;
  }
  .bentozone {
    display: flex;
    justify-content: center;
  }
  article {
    width: 300px;
  }
  .hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .hero p {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  h1 {
    padding-left: 10%;
    padding-right: 10%;
  }
  .linkzone {
    padding-top: 5%;
  }
  .intro {
    width: 450px;
  }
  .intro_container {
    display: flex;
    justify-content: center;
  }
  .main_content {
    display: flex;
    justify-content: center;
  }
  .bentosection {
    display: flex;
    justify-content: center;
  }
  form {
    width: 460px;
  }
}
@media only screen and (min-width: 720px) {
  .bento_skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}
@media only screen and (min-width: 946px) {
  .kontakt_main {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=scss_style.css.map */