* {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(222, 222, 222);
}


/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: transparent;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    background-color: transparent;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    
    display: block;
    position: absolute;
    right: 0;
    top: 42px;
  }
  


  .logo {
    width: 100px;
    height: 100px;
    background-color: transparent;
  }

  .background {
    background-image: url(img/image\ 47.png);
    background-size: cover;
    height: 100vh;
    position: relative;

  }


  